<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451974348727-mev0b795mp3abdol6eksb9smv9u4n1kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451974348727-mev0b795mp3abdol6eksb9smv9u4n1kk</string>
	<key>API_KEY</key>
	<string>AIzaSyBqkaD4V9tgP3Nxxinrds6kA4W-2xJorbg</string>
	<key>GCM_SENDER_ID</key>
	<string>451974348727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarun.bedtimestory</string>
	<key>PROJECT_ID</key>
	<string>bedtimestory-a90b7</string>
	<key>STORAGE_BUCKET</key>
	<string>bedtimestory-a90b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451974348727:ios:5628e51f1ae7971b457232</string>
</dict>
</plist>