<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221057703685-2ei0iov2fqatb4gj8jv6d4o3jdpg4s5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221057703685-2ei0iov2fqatb4gj8jv6d4o3jdpg4s5s</string>
	<key>API_KEY</key>
	<string>AIzaSyCKYrplioV_Rdulf0AdkkkJUbKjujxAUAU</string>
	<key>GCM_SENDER_ID</key>
	<string>221057703685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willfranzen.bedtimestory</string>
	<key>PROJECT_ID</key>
	<string>bedtimestory-7967c</string>
	<key>STORAGE_BUCKET</key>
	<string>bedtimestory-7967c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221057703685:ios:76289a5ffe534222b3216c</string>
</dict>
</plist>